
body{
  background-color:whitesmoke;
}
.App{
  background-color:gainsboro;
  height:90vh;
  width:90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
  margin-top: 2rem;
 
 
}
 .main{
  width:60%;
  height: 40vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  word-spacing: 1rem;
 

 
}
.author{
  margin-top: 3rem;
 
}



.next{
 

 margin-right: 43rem; 

  display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #0077cc;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 5px black;
    cursor: pointer;
    transition: all 0.2s ease-in-out;


}
.next:hover{
  background-color: rebeccapurple;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
  }
  .box{
    margin-right: 40rem;
  }
